.wrapper {
  font-size: 1.5rem;

  & label {
    font-size: inherit;
    display: flex;
  }
}

.inputWrapper {
  position: relative;
}

.loader {
  position: absolute;
  bottom: calc(66%);
  right: 90%;
}

.input {
  min-width: 100px;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}
